@import "tailwindcss";

@theme {
  --color-brand-purple: #6b21a8;
  --color-brand-pink: #db2777;
  --color-brand-orange: #f97316;
  --color-brand-dark: #050505;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-black text-white antialiased overflow-x-hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}